.masonry-wrapper .grid-item .grid-item__inner,
.setting .grid-item .grid-item__inner {
    position: relative;
}

.masonry-wrapper.ac_masonry-grid .grid-item__content-wrapper,
.setting.ac_masonry-grid .grid-item__content-wrapper {
    position: absolute;
}

.masonry-wrapper .grid-item .grid-item__inner .grid-item__content-wrapper,
.setting .grid-item .grid-item__inner .grid-item__content-wrapper {
    overflow: hidden;
}

.masonry-wrapper.ac_masonry-grid .grid-item__content-wrapper,
.setting.ac_masonry-grid .grid-item__content-wrapper {
    margin: 0 !important;
}

.masonry-wrapper.ac_masonry-grid .grid-item__inner {
    padding-top: 100%;
}

.masonry-wrapper.ac_masonry-grid .grid-item.extra-large .grid-item__inner,
.masonry-wrapper.ac_masonry-grid .grid-item.wide .grid-item__inner {
    padding-top: 50%;
}

.masonry-wrapper.ac_masonry-grid .grid-item.high .grid-item__inner {
    padding-top: 200%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="4by3"] .grid-item__inner {
    padding-top: 75%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="4by3"] .grid-item.extra-large .grid-item__inner,
.masonry-wrapper.ac_masonry-grid[data-ratio="4by3"] .grid-item.wide .grid-item__inner {
    padding-top: 37.5%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="4by3"] .grid-item.high .grid-item__inner {
    padding-top: 150%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="16by9"] .grid-item__inner {
    padding-top: 56.25%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="16by9"] .grid-item.extra-large .grid-item__inner,
.masonry-wrapper.ac_masonry-grid[data-ratio="16by9"] .grid-item.wide .grid-item__inner {
    padding-top: 28.125%;
}

.masonry-wrapper.ac_masonry-grid[data-ratio="16by9"] .grid-item.high .grid-item__inner {
    padding-top: 112.5%;
}

[data-col-xs="1"].masonry-wrapper .grid-item,
[data-col-xs="1"].masonry-wrapper .grid-sizer {
    width: 100%;
}

[data-col-xs="2"].masonry-wrapper .grid-item,
[data-col-xs="2"].masonry-wrapper .grid-sizer {
    width: 50%;
}

[data-col-xs="2"].masonry-wrapper .grid-item.wide,
[data-col-xs="2"].masonry-wrapper .grid-item.large {
    width: 100%;
}

[data-col-xs="2"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="3"].masonry-wrapper .grid-item,
[data-col-xs="3"].masonry-wrapper .grid-sizer {
    width: 33.33333%;
}

[data-col-xs="3"].masonry-wrapper .grid-item.wide,
[data-col-xs="3"].masonry-wrapper .grid-item.large {
    width: 66.66667%;
}

[data-col-xs="3"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="4"].masonry-wrapper .grid-item,
[data-col-xs="4"].masonry-wrapper .grid-sizer {
    width: 25%;
}

[data-col-xs="4"].masonry-wrapper .grid-item.wide,
[data-col-xs="4"].masonry-wrapper .grid-item.large {
    width: 50%;
}

[data-col-xs="4"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="5"].masonry-wrapper .grid-item,
[data-col-xs="5"].masonry-wrapper .grid-sizer {
    width: 20%;
}

[data-col-xs="5"].masonry-wrapper .grid-item.wide,
[data-col-xs="5"].masonry-wrapper .grid-item.large {
    width: 40%;
}

[data-col-xs="5"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="6"].masonry-wrapper .grid-item,
[data-col-xs="6"].masonry-wrapper .grid-sizer {
    width: 16.66667%;
}

[data-col-xs="6"].masonry-wrapper .grid-item.wide,
[data-col-xs="6"].masonry-wrapper .grid-item.large {
    width: 33.33333%;
}

[data-col-xs="6"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="7"].masonry-wrapper .grid-item,
[data-col-xs="7"].masonry-wrapper .grid-sizer {
    width: 14.28571%;
}

[data-col-xs="7"].masonry-wrapper .grid-item.wide,
[data-col-xs="7"].masonry-wrapper .grid-item.large {
    width: 28.57143%;
}

[data-col-xs="7"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="8"].masonry-wrapper .grid-item,
[data-col-xs="8"].masonry-wrapper .grid-sizer {
    width: 12.5%;
}

[data-col-xs="8"].masonry-wrapper .grid-item.wide,
[data-col-xs="8"].masonry-wrapper .grid-item.large {
    width: 25%;
}

[data-col-xs="8"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="9"].masonry-wrapper .grid-item,
[data-col-xs="9"].masonry-wrapper .grid-sizer {
    width: 11.11111%;
}

[data-col-xs="9"].masonry-wrapper .grid-item.wide,
[data-col-xs="9"].masonry-wrapper .grid-item.large {
    width: 22.22222%;
}

[data-col-xs="9"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="10"].masonry-wrapper .grid-item,
[data-col-xs="10"].masonry-wrapper .grid-sizer {
    width: 10%;
}

[data-col-xs="10"].masonry-wrapper .grid-item.wide,
[data-col-xs="10"].masonry-wrapper .grid-item.large {
    width: 20%;
}

[data-col-xs="10"].masonry-wrapper .grid-item.extra-large {
    width: 100%;
}

@media (min-width: 768px) {
    [data-col-sm="1"].masonry-wrapper .grid-item,
    [data-col-sm="1"].masonry-wrapper .grid-sizer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="2"].masonry-wrapper .grid-item,
    [data-col-sm="2"].masonry-wrapper .grid-sizer {
        width: 50%;
    }
    [data-col-sm="2"].masonry-wrapper .grid-item.wide,
    [data-col-sm="2"].masonry-wrapper .grid-item.large {
        width: 100%;
    }
    [data-col-sm="2"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="3"].masonry-wrapper .grid-item,
    [data-col-sm="3"].masonry-wrapper .grid-sizer {
        width: 33.33333%;
    }
    [data-col-sm="3"].masonry-wrapper .grid-item.wide,
    [data-col-sm="3"].masonry-wrapper .grid-item.large {
        width: 66.66667%;
    }
    [data-col-sm="3"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="4"].masonry-wrapper .grid-item,
    [data-col-sm="4"].masonry-wrapper .grid-sizer {
        width: 25%;
    }
    [data-col-sm="4"].masonry-wrapper .grid-item.wide,
    [data-col-sm="4"].masonry-wrapper .grid-item.large {
        width: 50%;
    }
    [data-col-sm="4"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="5"].masonry-wrapper .grid-item,
    [data-col-sm="5"].masonry-wrapper .grid-sizer {
        width: 20%;
    }
    [data-col-sm="5"].masonry-wrapper .grid-item.wide,
    [data-col-sm="5"].masonry-wrapper .grid-item.large {
        width: 40%;
    }
    [data-col-sm="5"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="6"].masonry-wrapper .grid-item,
    [data-col-sm="6"].masonry-wrapper .grid-sizer {
        width: 16.66667%;
    }
    [data-col-sm="6"].masonry-wrapper .grid-item.wide,
    [data-col-sm="6"].masonry-wrapper .grid-item.large {
        width: 33.33333%;
    }
    [data-col-sm="6"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="7"].masonry-wrapper .grid-item,
    [data-col-sm="7"].masonry-wrapper .grid-sizer {
        width: 14.28571%;
    }
    [data-col-sm="7"].masonry-wrapper .grid-item.wide,
    [data-col-sm="7"].masonry-wrapper .grid-item.large {
        width: 28.57143%;
    }
    [data-col-sm="7"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="8"].masonry-wrapper .grid-item,
    [data-col-sm="8"].masonry-wrapper .grid-sizer {
        width: 12.5%;
    }
    [data-col-sm="8"].masonry-wrapper .grid-item.wide,
    [data-col-sm="8"].masonry-wrapper .grid-item.large {
        width: 25%;
    }
    [data-col-sm="8"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="9"].masonry-wrapper .grid-item,
    [data-col-sm="9"].masonry-wrapper .grid-sizer {
        width: 11.11111%;
    }
    [data-col-sm="9"].masonry-wrapper .grid-item.wide,
    [data-col-sm="9"].masonry-wrapper .grid-item.large {
        width: 22.22222%;
    }
    [data-col-sm="9"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 768px) {
    [data-col-sm="10"].masonry-wrapper .grid-item,
    [data-col-sm="10"].masonry-wrapper .grid-sizer {
        width: 10%;
    }
    [data-col-sm="10"].masonry-wrapper .grid-item.wide,
    [data-col-sm="10"].masonry-wrapper .grid-item.large {
        width: 20%;
    }
    [data-col-sm="10"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="1"].masonry-wrapper .grid-item,
    [data-col-md="1"].masonry-wrapper .grid-sizer {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="2"].masonry-wrapper .grid-item,
    [data-col-md="2"].masonry-wrapper .grid-sizer {
        width: 50%;
    }
    [data-col-md="2"].masonry-wrapper .grid-item.wide,
    [data-col-md="2"].masonry-wrapper .grid-item.large {
        width: 100%;
    }
    [data-col-md="2"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="3"].masonry-wrapper .grid-item,
    [data-col-md="3"].masonry-wrapper .grid-sizer {
        width: 33.33333%;
    }
    [data-col-md="3"].masonry-wrapper .grid-item.wide,
    [data-col-md="3"].masonry-wrapper .grid-item.large {
        width: 66.66667%;
    }
    [data-col-md="3"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="4"].masonry-wrapper .grid-item,
    [data-col-md="4"].masonry-wrapper .grid-sizer {
        width: 25%;
    }
    [data-col-md="4"].masonry-wrapper .grid-item.wide,
    [data-col-md="4"].masonry-wrapper .grid-item.large {
        width: 50%;
    }
    [data-col-md="4"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="5"].masonry-wrapper .grid-item,
    [data-col-md="5"].masonry-wrapper .grid-sizer {
        width: 20%;
    }
    [data-col-md="5"].masonry-wrapper .grid-item.wide,
    [data-col-md="5"].masonry-wrapper .grid-item.large {
        width: 40%;
    }
    [data-col-md="5"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="6"].masonry-wrapper .grid-item,
    [data-col-md="6"].masonry-wrapper .grid-sizer {
        width: 16.66667%;
    }
    [data-col-md="6"].masonry-wrapper .grid-item.wide,
    [data-col-md="6"].masonry-wrapper .grid-item.large {
        width: 33.33333%;
    }
    [data-col-md="6"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="7"].masonry-wrapper .grid-item,
    [data-col-md="7"].masonry-wrapper .grid-sizer {
        width: 14.28571%;
    }
    [data-col-md="7"].masonry-wrapper .grid-item.wide,
    [data-col-md="7"].masonry-wrapper .grid-item.large {
        width: 28.57143%;
    }
    [data-col-md="7"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="8"].masonry-wrapper .grid-item,
    [data-col-md="8"].masonry-wrapper .grid-sizer {
        width: 12.5%;
    }
    [data-col-md="8"].masonry-wrapper .grid-item.wide,
    [data-col-md="8"].masonry-wrapper .grid-item.large {
        width: 25%;
    }
    [data-col-md="8"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="9"].masonry-wrapper .grid-item,
    [data-col-md="9"].masonry-wrapper .grid-sizer {
        width: 11.11111%;
    }
    [data-col-md="9"].masonry-wrapper .grid-item.wide,
    [data-col-md="9"].masonry-wrapper .grid-item.large {
        width: 22.22222%;
    }
    [data-col-md="9"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="10"].masonry-wrapper .grid-item,
    [data-col-md="10"].masonry-wrapper .grid-sizer {
        width: 10%;
    }
    [data-col-md="10"].masonry-wrapper .grid-item.wide,
    [data-col-md="10"].masonry-wrapper .grid-item.large {
        width: 20%;
    }
    [data-col-md="10"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="1"].masonry-wrapper .grid-item,
    [data-col-lg="1"].masonry-wrapper .grid-sizer {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="2"].masonry-wrapper .grid-item,
    [data-col-lg="2"].masonry-wrapper .grid-sizer {
        width: 50%;
    }
    [data-col-lg="2"].masonry-wrapper .grid-item.wide,
    [data-col-lg="2"].masonry-wrapper .grid-item.large {
        width: 100%;
    }
    [data-col-lg="2"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="3"].masonry-wrapper .grid-item,
    [data-col-lg="3"].masonry-wrapper .grid-sizer {
        width: 33.33333%;
    }
    [data-col-lg="3"].masonry-wrapper .grid-item.wide,
    [data-col-lg="3"].masonry-wrapper .grid-item.large {
        width: 66.66667%;
    }
    [data-col-lg="3"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="4"].masonry-wrapper .grid-item,
    [data-col-lg="4"].masonry-wrapper .grid-sizer {
        width: 25%;
    }
    [data-col-lg="4"].masonry-wrapper .grid-item.wide,
    [data-col-lg="4"].masonry-wrapper .grid-item.large {
        width: 50%;
    }
    [data-col-lg="4"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="5"].masonry-wrapper .grid-item,
    [data-col-lg="5"].masonry-wrapper .grid-sizer {
        width: 20%;
    }
    [data-col-lg="5"].masonry-wrapper .grid-item.wide,
    [data-col-lg="5"].masonry-wrapper .grid-item.large {
        width: 40%;
    }
    [data-col-lg="5"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="6"].masonry-wrapper .grid-item,
    [data-col-lg="6"].masonry-wrapper .grid-sizer {
        width: 16.66667%;
    }
    [data-col-lg="6"].masonry-wrapper .grid-item.wide,
    [data-col-lg="6"].masonry-wrapper .grid-item.large {
        width: 33.33333%;
    }
    [data-col-lg="6"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="7"].masonry-wrapper .grid-item,
    [data-col-lg="7"].masonry-wrapper .grid-sizer {
        width: 14.28571%;
    }
    [data-col-lg="7"].masonry-wrapper .grid-item.wide,
    [data-col-lg="7"].masonry-wrapper .grid-item.large {
        width: 28.57143%;
    }
    [data-col-lg="7"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="8"].masonry-wrapper .grid-item,
    [data-col-lg="8"].masonry-wrapper .grid-sizer {
        width: 12.5%;
    }
    [data-col-lg="8"].masonry-wrapper .grid-item.wide,
    [data-col-lg="8"].masonry-wrapper .grid-item.large {
        width: 25%;
    }
    [data-col-lg="8"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="9"].masonry-wrapper .grid-item,
    [data-col-lg="9"].masonry-wrapper .grid-sizer {
        width: 11.11111%;
    }
    [data-col-lg="9"].masonry-wrapper .grid-item.wide,
    [data-col-lg="9"].masonry-wrapper .grid-item.large {
        width: 22.22222%;
    }
    [data-col-lg="9"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="10"].masonry-wrapper .grid-item,
    [data-col-lg="10"].masonry-wrapper .grid-sizer {
        width: 10%;
    }
    [data-col-lg="10"].masonry-wrapper .grid-item.wide,
    [data-col-lg="10"].masonry-wrapper .grid-item.large {
        width: 20%;
    }
    [data-col-lg="10"].masonry-wrapper .grid-item.extra-large {
        width: 100%;
    }
}

[data-gap="5"].masonry-wrapper {
    margin: -3px;
}

[data-gap="5"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
}

[data-gap="10"].masonry-wrapper {
    margin: -5px;
}

[data-gap="10"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

[data-gap="15"].masonry-wrapper {
    margin: -8px;
}

[data-gap="15"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

[data-gap="20"].masonry-wrapper {
    margin: -10px;
}

[data-gap="20"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}

[data-gap="25"].masonry-wrapper {
    margin: -13px;
}

[data-gap="25"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 13px;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
}

[data-gap="30"].masonry-wrapper {
    margin: -15px;
}

[data-gap="30"].masonry-wrapper .grid-item .grid-item__content-wrapper {
    margin: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
}